@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  color: black;
  text-decoration: none; }

img {
  object-fit: cover; }

/**Colores de fondo**/
.fondo_oscuro {
  background-color: #229422; }

.fondo_verde2 {
  background-color: #25b925; }

.fondo_claro {
  background-color: #abe99f; }

/**Efectos**/
@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/**Tipografías**/
.font_normal {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem; }

.font_media {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2rem; }

.font_subt {
  font-family: "Cookie", cursive;
  font-size: 2rem; }

h1 {
  font-family: "Cookie", cursive;
  font-size: 3rem;
  animation-duration: 3s;
  animation-name: aparecer;
  border-radius: 8vh; }
  a h1:hover {
    background-image: url(/img/bandera-italia.jpg);
    background-position: center; }

#logo {
  height: 15vh;
  width: 15vh;
  margin: 1rem;
  border-radius: 110vh; }

.items_menu {
  background-color: #25b925;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.8rem;
  animation-duration: 3s;
  animation-name: aparecer;
  border-radius: 8vh; }
  .items_menu:hover {
    background-color: white; }

.texto_centrado {
  text-align: center; }

.bordes {
  border-radius: 2vh; }

.ancho_responsive {
  width: 100%; }

.tarjetas:hover {
  transform: scale(1.3, 1.3); }

.logos_redes {
  height: 5vh;
  width: 5vh; }

.logo_wpp {
  height: 8vh;
  width: 8vh; }

#txtBackstage {
  font-size: 2 rem; }

.ancho_responsive {
  width: 100%; }

.cards_comida {
  height: 60vh; }
  .cards_comida img {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.foto_carrusel {
  height: 100%;
  width: 100%; }

.cards_comida {
  border: solid #81d181 1px; }

#cajaForm {
  width: 70%;
  height: 40%;
  margin: 20px auto;
  text-align: center; }

.contenido_centrado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.input {
  width: 300px; }

.alto_carrusel {
  height: 80vh; }

#video {
  height: 70vh; }

#irArriba {
  width: 5vh;
  height: 5vh;
  display: inline-block;
  background-color: #f72f2f;
  position: fixed;
  bottom: 5vh;
  right: 5vh; }

@media only screen and (max-width: 500px) {
  #txtBackstage {
    font-size: 0.6 rem; }
  h1 {
    font-size: 1.8rem;
    margin-right: -50px; }
    h1:hover {
      background-image: none; }
  #logo {
    margin: 1rem 0.5rem;
    width: 10vh;
    height: 10vh; } }

@media only screen and (max-width: 576px) {
  #imagenesComida {
    display: none; } }

@media only screen and (max-width: 670px) {
  .footer_items {
    font-size: 0.55rem; }
  .logos_redes {
    height: 3vh;
    width: 3vh; }
  .logo_wpp {
    height: 5vh;
    width: 5vh; }
  #logo {
    margin: 1rem 0;
    width: 11.5vh;
    height: 11.5vh; } }

@media only screen and (max-width: 768px) {
  .txt_card {
    font-size: 1rem; } }

@media only screen and (max-width: 992px) {
  .contenedor_navbar {
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 40px; }
  .items_menu {
    text-align: center;
    width: 120%; } }
