*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

$cursiva: 'Cookie', cursive;
$texto: 'Noto Sans JP', sans-serif;

$oscuro: rgb(34, 148, 34);
$intermedio: rgb(37, 185, 37);
$claro: rgb(171, 233, 159);

$borde: 2vh;
$bordeXL: 8vh;
$borde-circulo: 110vh;

$fuenteXL: 3rem;
$fuenteL: 2rem;
$fuenteS: 1rem;

$time: 3s;

$logo: 15vh;

a{
    color: black;
    text-decoration: none;
}

img{
    object-fit: cover;
}

/**Colores de fondo**/
.fondo_oscuro{
    background-color: $oscuro;
}

.fondo_verde2{
    background-color: $intermedio;
}

.fondo_claro{
    background-color: $claro;
}

/**Efectos**/
@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/**Tipografías**/
.font_normal{
    font-family: $texto;
    font-size: $fuenteS;
}

.font_media{
    font-family: $texto;
    font-size: $fuenteL;
}

.font_subt{
    font-family: $cursiva;
    font-size: $fuenteL;
}

h1{
    font-family: $cursiva;
    font-size: $fuenteXL;
    animation-duration: $time;
    animation-name: aparecer;
    border-radius: $bordeXL;
    a &:hover{
        background-image: url(/img/bandera-italia.jpg);
        background-position: center;
    }
}

#logo{
    height: $logo;
    width: $logo;
    margin: 1rem;
    border-radius: $borde-circulo;
}

.items_menu{
    background-color: rgb(37, 185, 37);
    font-family: $texto;
    font-size: ($fuenteXL)-0.2;
    animation-duration: $time;
    animation-name: aparecer;
    border-radius: $bordeXL;
    &:hover{
        background-color: white;
    }
}

.texto_centrado{
    text-align: center;
}

.bordes{
    border-radius: $borde;
}

.ancho_responsive{
    width: 100%;
}

.tarjetas:hover{
    transform: scale(1.3,1.3);
}

.logos_redes{
    height: ($logo)/3;
    width: ($logo)/3;
}

.logo_wpp{
    height: 8vh;
    width: 8vh;
}