*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

$cursiva: 'Cookie', cursive;
$texto: 'Noto Sans JP', sans-serif;

$oscuro: rgb(34, 148, 34);
$intermedio: rgb(37, 185, 37);
$claro: rgb(171, 233, 159);

$borde: 2vh;
$borde-circulo: 110vh;

$fuenteXL: 3rem;
$fuenteL: 2rem;
$fuenteS: 1rem;

