.input{
    width: 95%;
}

.alto_carrusel{
    height: 80vh;
}

#video{
    height: 70vh;
}

#irArriba{
    width: 5vh;
    height: 5vh;
    display: inline-block;
    background-color: rgb(247, 47, 47);
    position: fixed;
    bottom: 10vh;
    right: 5vh;
    z-index: 500;
}