.ancho_responsive{
    width: 100%;
}

.cards_comida{
    height: 60vh;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.alto_carrusel{
    height: 60vh;
}

.foto_carrusel{
    height: 50vh;
    width: 100%;
}

.cards_comida{
    border: solid rgb(129, 209, 129) 1px;
}