.ancho_responsive{
    width: 100%;
}

.cards_comida{
    height: 60vh;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.foto_carrusel{
    height: 100%;
    width: 100%;
}

.cards_comida{
    border: solid rgb(129, 209, 129) 1px;
}

#cajaForm{
    width: 70%;
    height: 40%;
    margin: 20px auto;
    text-align: center;
}

.contenido_centrado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
