@media only screen and (max-width: 500px) {
    #txtBackstage{
        font-size: 0.6 rem;
    }
    h1{
        font-size: 1.8rem;
        margin-right: -50px;
        &:hover{
            background-image: none;
        }
    }
    #logo{
        margin: 1rem 0.5rem;
        width: 10vh;
        height: 10vh;
    }
}

@media only screen and (max-width: 576px) {
    #imagenesComida{
            display: none;
    }
}

@media only screen and (max-width: 670px) {
    .footer_items{
        font-size: 0.55rem;
    }
    .logos_redes{
        height: 3vh;
        width: 3vh;
    }
    .logo_wpp{
        height: 5vh;
        width: 5vh;
    }
    #logo{
        margin: 1rem 0;
        width: 11.5vh;
        height: 11.5vh;
    }
}

@media only screen and (max-width: 768px) {
    .txt_card{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 992px) {
    .contenedor_navbar{
        display: flex;
        flex-flow: nowrap column;
        justify-content: space-between;
        align-items: flex-end;
        margin-right: 40px;
    }
    .items_menu{
        text-align: center;
        width: 120%;
    }
}